Добро пожаловать на сайт <a href="%site%">%site%</a>! <br/>
<br/>
Ваши данные для входа:
email - %email%<br/>
Пароль - %pass%<br/>

<br/>
<br/>
После проверки модератором вы сможете зайти в личный кабинет используя свой логин и пароль.<br/>
------------------------------------------------<br/>
С Уважением администрация сайта %site%<br/>
