Кто-то или Вы запросили восстановление пароля на сайте %site%<br/>.
<br/>
Логин - %email%<br/>
Для восстановления пароля перейдите по ссылке - <a href="%pass%">%pass%</a><br/>

<br/>

..........................................................................
<br/>
Это уведомление создано автоматически. Пожалуйста, не отвечайте на него по электронной почте.