Поздравляем Вы восстановили пароль на сайте %site%<br/>.
<br/>
Логин - %email%<br/>
Пароль - %pass%<br/>
<br/>
<br/>

..........................................................................
<br/>
Это уведомление создано автоматически. Пожалуйста, не отвечайте на него по электронной почте.