html, body {
    height: 100%;
    font: 14px "Trebuchet MS";
    color: #000
}

body {
    background: url(../images/top_gradient.png) 0 -33px repeat-x
}

h1 {
    font-size: 36px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: url(../images/circle_left.png) 0 18px no-repeat;
    text-align: center
}

h1 span {
    background: #fff url(../images/result.png) 0 -110px no-repeat;
    padding: 0 0 0 26px
}

h1 span span {
    background: #fff url(../images/result.png) right -163px no-repeat;
    padding: 0 26px 0 0
}

h1 p {
    background: url(../images/circle_right.png) right 18px no-repeat
}

h2, h2 a {
    font-size: 36px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: url(../images/circle_right.png) 100% 18px no-repeat;
    color: #000
}

h2.tCenter {
    background: url(../images/circle_left.png) 0 18px no-repeat
}

h2 span {
    background: #fff url(../images/result.png) right -163px no-repeat;
    padding: 0 26px 0 0
}

h2 span span {
    background: #fff url(../images/result.png) left -110px no-repeat;
    padding: 0 0 0 26px
}

h2 p {
    background: url(../images/circle_right.png) right 18px no-repeat;
    margin: 0 0 0 8px
}

a {
    text-decoration: underline;
    font: italic 14px "Trebuchet MS";
    color: #24437b
}

a:hover {
    text-decoration: none
}

.container {
    background: url(../images/bottom_gradient.png) left bottom repeat-x;
    min-height: 100%
}

.wrap {
    width: 1008px;
    margin: 0 auto;
    min-height: 848px;
    z-index: 10;
}

.verticalLine {
    border-left: 1px solid #aac8e2;
    height: 79px;
    width: 1px;
    font-size: 1px;
    position: absolute;
    top: 17px;
    left: 0
}

.verticalLine.first {
    left: 259px
}

.verticalLine.second {
    left: 642px
}

.verticalLine.third {
    left: 778px
}

.preheader {
    height: 406px
}

.preheader.short {
    height: 234px
}

.logo {
    top: 0
}

.fancy {
    height: 240px
}

footer {
    height: 144px;
    padding: 82px 0 0;
    margin: -217px auto 0;
    width: 1008px;
    z-index:11;
}

.topLinks {
    position: absolute;
    top: 0;
    left: 0;
    display: block
}

.loginLinks, .downloadLinks {
    color: #24437c
}

.downloadPrice {
    background: url(../images/excel_icon.png) left 2px no-repeat;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: italic;
    width: 80px;
    height: 62px;
    left: 271px;
    top: 27px;
    padding: 0 0 0 69px
}

.downloadPrice, .orderPacket {
    font-size: 18px;
    line-height: 19px
}

.orderPacket {
    background: url(../images/paket.png) left top no-repeat;
    height: 66px;
    left: 447px;
    padding: 0 0 0 67px;
    top: 25px;
    width: 107px
}

.orderPacket, .loginLinks {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: italic
}

.loginLinks {
    font-size: 15px
}

.login {
    background: url(../images/ico_login.png) left top no-repeat
}

.login, .profile {
    width: 90px;
    top: 23px;
    left: 662px;
    padding: 1px 0 0 21px;
    height: 17px
}

.profile {
    background: url(../images/ico_profile.png) left top no-repeat
}

.bepartner {
    left: 662px;
    background: url(../images/ico_plus.png) left 2px no-repeat;
    padding: 0 0 0 21px;
    height: 17px
}

.bepartner, .logout {
    top: 56px;
    line-height: 15px
}

.logout {
    background: url(../images/ico_exit.png) left 2px no-repeat
}

.logout, .cart {
    left: 662px;
    padding: 0 0 0 21px;
    height: 17px
}

.cart {
    top: 98px;
    background: url(../images/ico_cart.png) left 1px no-repeat
}

.phones {
    background: url(../images/phone.png) right top no-repeat;
    font: italic 11px "Trebuchet MS";
    height: 93px;
    color: #647a8e;
    padding: 0 64px 0 0;
    width: 170px;
    top: 17px;
    right: 0;
    left: auto
}

.phones .code {
    font-size: 18px;
    font-family: PFDinLight, 'Trebuchet MS';
    font-style: normal;
    vertical-align: 32%
}

.phones .phoneDigits {
    font-size: 30px;
    font-family: PFDinMedium, 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    color: #000;
    letter-spacing: -2px
}

.phones .phoneRow {
    line-height: 8px
}

.phones .phoneRow.man {
    padding: 0 0 6px
}

.topMenu {
    background: url(../images/btn_bg.png) left top;
    top: 127px;
    left: 34px;
    margin: 0;
    width: 91%;
    height: 40px;
    z-index: 54
}

.topMenu.short {
    top: 127px;
    height: 39px
}

.topMenu li {
    display: block;
    float: left
}

.topMenu li.divider {
    padding: 11px 0 0
}

.topMenu li a {
    background: url(../images/btn_bg.png) left -1000px repeat-x;
    display: block;
    float: left;
    padding: 9px 0 0;
    height: 31px;
    font-size: 16px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
    text-align: center;
    width: 110px
}

.topMenu.short li a {
    height: 30px
}

.topMenu li a.mainlink_company {
    width: 145px
}

.topMenu li a.mainlink_cat {
    width: 118px
}

.topMenu li a.mainlink_shipment {
    width: 129px
}

.topMenu li a.mainlink_payment {
    width: 110px
}

.topMenu li a.mainlink_newsA {
    width: 124px
}

.topMenu li a.mainlink_partners {
    width: 129px
}

.topMenu li a.mainlink_feedback {
    width: 150px
}

.topMenu li a:hover, .topMenu li a.active {
    background-position: 0 -44px;
    color: #fff;
    text-shadow: 0 0 0 #fff
}

.leftMenuCorner, .rightMenuCorner {
    z-index: 54;
    left: 24px;
    top: 127px;
    width: 10px;
    height: 42px;
    background: url(../images/top_menu_corners.png)
}

.leftMenuCorner.short, .rightMenuCorner.short {
    top: 127px
}

.leftMenuCorner.hover, .leftMenuCorner.active {
    background-position: left bottom
}

.rightMenuCorner {
    left: auto;
    right: 47px;
    background-position: right top
}

.rightMenuCorner.hover, .rightMenuCorner.active {
    background-position: right bottom
}

.teaser {
    top: 127px;
    width: 1075px;
    left: -36px;
    height: 252px;
    overflow: hidden
}

.teaserInner {
    overflow: hidden;
    height: 277px
}

.topTeaserLeft {
    width: 70px
}

.topTeaserLeft, .topTeaserRight {
    background: url(../images/top_teaser_left.png) no-repeat 0 0;
    height: 252px;
    left: -36px;
    top: 127px;
    z-index: 54
}

.topTeaserRight {
    left: auto;
    right: -61px;
    width: 99px;
    background-position: 0 -253px
}

.teaserShort {
    background: url(../images/short_teaser.png);
    height: 58px;
    left: -11px;
    top: 127px;
    width: 1017px
}

.circleLine {
    background: url(../images/circle_left.png) 0 0 no-repeat;
    width: 100%;
    height: 10px
}

.circleLine p {
    background: url(../images/circle_right.png) right 0 no-repeat;
    width: 100%;
    height: 10px
}

.footerLogo {
    left: auto;
    right: 37px;
    top: 43px
}

.footerSearchInput {
    border: #7ea6c9 3px solid;
    height: 25px;
    padding: 2px;
    font-size: 14px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    left: auto;
    right: 20px;
    top: 122px;
    width: 170px
}

footer .cities {
    font-size: 24px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #0a5997;
    top: 30px
}

footer .cities.simf {
    left: 10px
}

footer .cities.kyi {
    left: 419px
}

footer table, footer table a {
    font: 14px "Trebuchet MS";
    color: #5f6f7e
}

footer table {
    width: 38%;
    float: left;
    margin: 0 0 0 10px
}

footer table tr td {
    padding-bottom: 12px
}

footer table tr td:first-child {
    font-size: 12px;
    color: #8ba1b6;
    font-style: italic;
    text-align: right;
    padding-right: 15px
}

.zoomIco {
    background: url(../images/zoom.png) left top no-repeat;
    height: 16px;
    left: auto;
    right: 29px;
    top: 133px;
    width: 16px
}

.mainCats {
    padding: 20px 0
}

.mainCat {
    float: left;
    padding: 0 11px 50px;
    text-align: left;
    width: 230px
}

.mainCat div {
    margin: 0 0 0 -30px
}

.mainCat p {
    padding: 0 0 0 40px
}

.mainCat a {
    font-size: 16px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #555;
    line-height: 18px
}

.mainCat .catTitle {
    font-size: 18px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #0a5997
}

.mainCat ul {
    margin: 0 0 0 54px
}

.mainCat ul li {
    background: url(../images/catli.gif) 0 10px no-repeat;
    padding: 0 0 6px 10px;
    list-style: none
}

.leftCol {
    width: 370px
}

.rightCol {
    padding: 0 21px 0 0;
    width: 567px
}

.leftText {
    padding: 5px 0 0 18px
}

.carouselOuter {
    width: 480px;
    height: 256px;
    overflow: hidden;
    margin: 0 auto
}

.carouselInner {
    width: 10000px
}

.carouselItem {
    width: 225px;
    float: left;
    padding: 0 0 0 3px;
    margin: 0 21px 0 0;
    background: url(../images/taxiBorder.gif) center 248px repeat-x;
    min-height: 253px
}

.carouselItem p {
    width: 219px;
    height: 145px;
    overflow: hidden;
    display: block;
    margin: 0 0 29px;
    border: 3px solid #ccccce;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center
}

.carouselItem p img {
    height: 100%;
    vertical-align: middle
}

.bottomTaxiBorder {
    height: 2px;
    margin: 4px 0 0;
    background: url(../images/taxiBorder.gif)
}

.carouselItem a {
    font-size: 16px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    color: #24437b;
    font-weight: 700
}

.priceMain {
    margin: 3px 0 0;
    color: #000;
    font: italic 12px 'Trebuchet MS';
    border: 1px solid #ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 2px 3px
}

.priceMain span {
    font-size: 17px;
    font-family: PFDinMedium, 'Trebuchet MS';
    font-style: normal;
    font-weight: 700
}

.mainTitleGood {
    width: 53%
}

.carouselPrev, .carouselNext {
    position: absolute;
    top: 27px;
    left: 3px;
    background: url(../images/result.png) 0 -395px no-repeat;
    width: 22px;
    height: 100px
}

.carouselNext {
    left: auto;
    right: 2px;
    background-position: 0 -229px
}

.mainNew {
    padding: 22px 0 14px
}

.mainNewImage {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border: 4px solid #e4e4e4;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px
}

.mainNewText {
    width: 70%;
    padding: 3px 0 0 10px
}

.mainNewText a {
    color: #24437b;
    font-size: 16px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-weight: 700
}

.date {
    font: 10px Tahoma;
    padding: 3px 0 0
}

.centerColInner {
    float: right;
    margin: 0 0 0 -267px;
    width: 100%
}

.rightColInner {
    margin: 0 0 0 257px
}

.leftColInner {
    float: left;
    padding: 0 20px 0 0;
    width: 235px
}

.colTitle, .colTitle a {
    font-size: 36px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    color: #000;
    text-decoration: none
}

.emptyBlock {
    height: 37px
}

.searchInput input {
    border: #c9cacc 3px solid;
    height: 25px;
    padding: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    width: 170px
}

.searchInput a {
    left: 169px;
    position: absolute;
    top: 10px
}

.leftMenu {
    padding: 23px 0 0;
    margin: 0
}

.leftMenu, .leftMenu li, .leftMenu>li>a {
    list-style: none
}

.leftMenu>li>a {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px
}

.leftMenu>li.plus {
    background: url(../images/plus.png) left 6px no-repeat;
    padding: 0 0 20px 16px;
    position: relative
}

.leftMenu>li.plus.minus {
    background: url(../images/plus.png) left -88px no-repeat;
    padding: 0 0 0 16px
}

.leftMenu>li.plus .submenu {
    display: none;
    padding: 6px 0 12px;
    margin: 0 0 0 16px
}

.leftMenu>li.plus.minus .submenu {
    display: block;
    width: 188px
}

.leftMenu .submenu li {
    background: url(../images/catli.gif) left 16px no-repeat;
    padding: 0 0 4px 8px
}

.leftMenu .submenu li a {
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #555;
    text-decoration: underline
}

.leftMenu .submenu li a:hover {
    text-decoration: none
}

.switcher {
    height: 18px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 16px
}

.breadcrumbs a, .breadcrumbs span {
    color: #000;
    font: italic 12px 'Trebuchet MC', sans-serif
}

.breadcrumbs img {
    margin: 0 5px
}

.topSortPanel {
    border: #c9cacc 3px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    text-transform: uppercase;
    height: 27px;
    padding: 3px 10px 0 7px;
    width: 705px
}

.topSortPanel a, .topSortPanel span {
    font: italic 12px 'Trebuchet MS';
    text-transform: none
}

.topSortPanel .verticalBorder {
    left: 459px;
    top: 87px;
    width: 0;
    height: 30px;
    border-left: 1px dotted #c9cacc
}

.goods {
    padding: 26px 0 0
}

.goods .carouselItem {
    position: relative;
    background-position: center 315px;
    font: 12px "Trebuchet MS";
    padding: 0 0 40px;
    height: 301px;
    overflow: hidden;
    margin: 0 26px 0 0
}

.goods .carouselItem.last {
    margin: 0
}

.goods .carouselItem p {
    margin: 0 0 28px
}

.goods .scuBlock {
    padding: 4px 0 0
}

.goods .addToCart {
    text-transform: uppercase;
    background: url(../images/btn.png) left top no-repeat;
    color: #fff;
    padding: 4px 0 0;
    height: 32px;
    width: 128px;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    margin: 0;
}

.goods .addToCart:hover {
    background-position: left bottom
}

.goods .addToCart img {
    vertical-align: -5%
}

.goods .priceMain {
    height: 30px;
    overflow: hidden;
    width: 86px;
    margin: 0;
    float: right
}

.goods .goodTitleRow {
    max-height: 69px
}

.paginator a {
    text-decoration: underline;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    margin: 0 7px
}

.paginator a.active {
    border: #bbc4cb 3px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #24437a;
    padding: 1px 7px 3px;
    color: #fff;
    text-decoration: none
}

.paginator .prev {
    margin: 0 10px 0 0
}

.paginator .next {
    margin: 0 0 0 10px
}

.priceSortSide {
    padding: 0 11px 0 0
}

input[type=text], input[type=password], textarea {
    border: #c9cacc 3px solid;
    height: 25px;
    padding: 2px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal
}

.cartTab {
    width: 100%
}

.cartTab tr th {
    color: #727377;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 15px
}

.cartTab tr td {
    border-left: 5px solid #fff;
    background: #fff;
    vertical-align: top;
    padding: 5px 10px
}

.cartTab tr.even td {
    background: #e9ecf3
}

.cartTab .cellDel {
    width: 36px;
    border: none;
    padding-top: 25px
}

.cartTab .imageCell {
    width: 136px
}

.cartTab .imageCell p {
    margin: 0 auto;
    width: 110px;
    height: 75px;
    overflow: hidden;
    line-height: 75px;
    border: #b9bcc1 3px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}

.cartTab .imageCell p img {
    height: 100%;
    vertical-align: -50%
}

.cartTab a {
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 700
}

.scuCart {
    font: 12px Tahoma;
    color: #7f7f7f;
    padding: 0 0 0 5px
}

.scuCart span {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #000
}

.priceCell, .sumCell {
    font-size: 24px
}

.priceCell, .sumCell, .totalSumCell {
    font-family: 'PFDinMedium', 'Trebuchet MS', sans-serif;
    width: 82px
}

.priceCell p, .sumCell p, .amountCell p, .totalSumCell p {
    font: italic 12px 'Trebuchet MS', sans-serif
}

.amountCell {
    width: 83px
}

.amountCell input[type=text] {
    font-family: 'PFDinMedium', 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
    width: 64px
}

.totalSumCell {
    font-size: 30px;
    line-height: 27px
}

.total {
    font-size: 18px
}

.total, .needRegText a, .needRegText {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    text-transform: uppercase
}

.needRegText a, .needRegText {
    font-size: 22px;
    font-style: normal
}

.needRegText {
    color: #555
}

.red {
    color: #fd0001;
    font-size: 22px
}

.leftTabCol {
    width: 45%
}

.leaveMess {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    text-transform: uppercase
}

.leaveMess p {
    padding: 0 0 3px
}

.grayText {
    color: #666
}

.leaveMess textarea {
    width: 95%;
    height: 112px;
    font: 16px 'Trebuchet MS', sans-serif;
    text-transform: none
}

.leaveMess input[type=text] {
    width: 381px;
    font: 14px 'Trebuchet MS', sans-serif;
    text-transform: none
}

.sendBtn {
    display: block;
    height: 30px;
    padding: 3px 7px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    background-image: -moz-linear-gradient(top, #5c81af, #1c3050);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#5c81af), to(#1c3050));
    background-image: -o-linear-gradient(top, #5c81af, #1c3050);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5c81af', endColorstr = '#1c3050');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c81af', endColorstr='#1c3050')";
    background-image: linear-gradient(top, #5c81af, #1c3050);
    border-style: solid
}

.sendBtn, .sendBtn:hover {
    background-color: #fff;
    border-width: 3px;
    border-color: #bbc4cb;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.sendBtn:hover {
    background-image: -moz-linear-gradient(top, #417eca, #0b2c61);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#417eca), to(#0b2c61));
    background-image: -o-linear-gradient(top, #417eca, #0b2c61);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#417eca', endColorstr = '#0b2c61');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#417eca', endColorstr='#0b2c61')";
    background-image: linear-gradient(top, #417eca, #0b2c61)
}

.sendBtn img {
    vertical-align: -8%
}

.simpleLink {
    font: italic 14px 'Trebuchet MS', sans-serif;
    text-transform: none
}

.cols {
    width: 49%
}

.cols.regRows {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    text-transform: uppercase
}

.cols.regRows div {
    padding: 0 0 30px
}

.cols.regRows p {
    padding: 0 0 3px
}

.cols input[type=text], .cols input[type=password], .cols textarea {
    width: 370px;
    font: bold 14px "Trebuchet MS";
    text-transform: none
}

.cols textarea {
    height: 109px;
    font-size: 13px
}

.cols .sendBtn {
    top: 0;
    left: 224px
}

.cols.textRows {
    font: italic 14px 'Trebuchet MS'
}

.cols.textRows p.colTitle {
    margin: 0 0 20px
}

.cols.textRows div {
    background: url(../images/numbers.png) left top no-repeat;
    margin: 0 0 20px;
    min-height: 35px;
    padding: 11px 0 0 39px
}

.cols.textRows div.num2 {
    background-position: 0 -179px
}

.cols.textRows div.num3 {
    background-position: 0 -362px
}

.borderedBorder {
    border: #c9cacc 3px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    text-transform: uppercase;
    height: 27px;
    padding: 3px 10px 0 7px
}

.mainImage {
    width: 450px;
    /*overflow: hidden;*/
    margin: 0 10px 27px 0;
    float: left;
}

.mainImage img {
    width: 99%;
    border: #c9cacc solid 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.goodTitle {
    font-size: 24px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 151px 0 0
}

.goodPage.priceMain {
    margin-right: 53px
}

.goodPage.priceMain span {
    font-size: 36px
}

.goodDescription {
    padding: 0 0 0 22px
}

.goodDescription table {
    margin: 10px 0 0
}

.goodDescription table tr td {
    padding: 0 0 9px
}

.goodDescription .borderedBorder {
    padding: 0 7px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px
}

.descriptionTitle {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 0
}

.invizSelect {
    background: none;
    border: none
}

.addBtn {
    color: #fff;
    display: block;
    float: right;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    height: 30px;
    text-decoration: none;
    padding: 3px 7px 0;
    white-space: nowrap;
    background-color: #fff;
    border-width: 3px;
    border-color: #bbc4cb;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background-image: -moz-linear-gradient(top, #5c81af, #1c3050);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#5c81af), to(#1c3050));
    background-image: -o-linear-gradient(top, #5c81af, #1c3050);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5c81af', endColorstr = '#1c3050');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c81af', endColorstr='#1c3050')";
    background-image: linear-gradient(top, #5c81af, #1c3050);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-style: solid
}

.addBtn.flLeft {
    float: left
}

.addBtn:hover {
    background-color: #fff;
    border-width: 3px;
    border-color: #bbc4cb;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background-image: -moz-linear-gradient(top, #417eca, #0b2c61);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#417eca), to(#0b2c61));
    background-image: -o-linear-gradient(top, #417eca, #0b2c61);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#417eca', endColorstr = '#0b2c61');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#417eca', endColorstr='#0b2c61')";
    background-image: linear-gradient(top, #417eca, #0b2c61);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.addBtn img {
    vertical-align: -10%
}

.quantityStatus {
    font-weight: 700
}

.quantityStatus span {
    color: #0a5896
}

.new {
    padding: 0 0 20px
}

.newImg p {
    width: 65px;
    height: 67px;
    overflow: hidden;
    border: #c9cacc solid 3px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px
}

.newImg p img {
    height: 100%
}

.newText {
    padding: 0 0 0 20px;
    font: 14px 'Trebuchet MS';
    color: #4b4b4b
}

.leftNews li a, .newText a {
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: italic
}

.newText a {
    font-size: 18px
}

.leftNews li a {
    font-size: 16px
}

.leftNews .date, .newText .date {
    color: #7f7f7f;
    font: 10px Tahoma
}

.newText p {
    padding: 3px 0 0 14px
}

.new .bottomTaxiBorder {
    margin: 20px 0 0
}

.leftNews {
    margin: -10px 0 0 20px
}

.leftNews li {
    list-style: none;
    padding: 10px 0 0
}

.leftNews li p.date {
    margin: 8px 0 12px
}

.newContent .text, .newContent .date {
    color: #4e4e4e
}

.newContent img {
    margin: 0 10px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.newContent img, .map {
    border: #c9cacc solid 3px
}

.map {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 440px
}

.map iframe {
    vertical-align: top
}

.addressCities {
    color: #0A5997;
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 0 15px
}

.citiesTab {
    margin: 0 0 0 30px
}

.citiesTab tr td {
    padding: 0 0 13px 8px
}

.citiesTab tr td:first-child {
    padding-left: 0;
    width: 30%;
    color: #7f7f7f
}

.citiesTab tr td:first-child, .contactsPage.contForm {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    text-transform: uppercase
}

.contactsPage.contForm div {
    padding: 0 0 30px
}

.colTitle2 {
    font-size: 24px;
    font-family: 'PT Sans Narrow', 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px 9px
}

.contactData {
    padding: 65px 0 0
}

.contactData div {
    margin: 0 0 30px 22px
}

.formRow, .contactData div, .checkboxRow {
    font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
    text-transform: uppercase
}

.blueText {
    color: #24437a
}

.formRow {
    clear: both;
    min-height: 53px;
    padding: 0 0 0 22px
}

.formRow input[type=text] {
    float: left;
    width: 72px
}

.formRow .invizSelect {
    min-width: 200px
}

.titleCell {
    width: 140px;
    padding: 4px 0 0
}

.checkboxRow {
    padding: 0 0 10px
}

.taxiRow {
    background: url(../images/taxiRow.png) center center no-repeat;
    padding: 0 0 0 14px
}

.addBtn.orderBtn {
    float: none;
    margin: 0 auto;
    padding-left: 0;
    width: 191px
}

.jqLogin, .jqmodal {
    background: url(../images/popupBg.png) center bottom no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -269px;
    padding: 0 0 120px;
    z-index: 100;
    display: none
}

.loginPopup {
    width: 463px;
    background: #fff url(../images/popupBgGrad.png) left bottom repeat-x;
    border: #c9cacc solid 3px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 38px
}

.loginPopup input {
    width: 95%
}

.enterBtn {
    background: url(../images/enterBtn.png);
    color: #fff;
    display: block;
    height: 27px;
    padding: 9px 0 0 34px;
    text-decoration: none;
    text-transform: uppercase;
    width: 76px;
    font: italic bold 14px 'Trebuchet MS';
    margin: 0 14px 0 106px;
    float: left
}

.forgotP {
    padding: 8px 0 0
}

#message {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1010
}

.message {
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    opacity: .8;
    background: #f30
}

.message.ok {
    background: #0c3
}

.addBtn.forgotPage {
    float: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 191px
}

.hothitLabel {
    display: none
}

.hothit.carouselItem {
    position: relative
}

.hothit.carouselItem .hothitLabel {
    background: url("../images/action.png") no-repeat left top;
    display: block;
    height: 73px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 73px
}

.goodvert {
    float: left;
    padding: 0 10px 10px 0
}

.goodvert img {
    border: 3px solid #C9CACC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.closeLoginForm {
    background: url(/vendor/jquery/fancybox/fancy_closebox.png);
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px
}

.goods .haveoldprice {
    text-decoration: line-through;
    font-size: 12px;
    margin-top: -20px;
    border: none;
    height: 17px;
}

.goods .haveoldprice span {
    font-size: 13px;
}

/*.goods .newprice {*/
    /*margin-top: 2px;*/
/*}*/

.haveoldpricegood{ border: none; }
.haveoldpricegood span{
    text-decoration: line-through;
    font-size: 12px;

}

.carouselItem  .countGoods{
    height: 22px;
    right: 0;
    position: absolute;
    text-align: center;
    top: -33px;
    width: 9px;
}

input[type="text"].countGoodInner{
    float: right;
    height: 28px;
    text-align: center;
    width: 18px;
    margin: 0 8px 0 0;
}

.priceRow{
    margin: 22px 0 0;
    position: relative;
}
.counter{
	position:absolute;
	top:170px;
	right:17px;
}
.jqmWindowGood{
    position: absolute;
    top:0;
    left: 50%;
    width:600px;
    margin: 0 0 0 -300px;
    background: url("../images/popupBg.png") no-repeat scroll center bottom transparent;

}
.jqmWindowGoodInner{
    background: #FFFFFF;
    border: 3px solid #C9CACC;
    border-radius: 15px 15px 15px 15px;
    padding: 38px;
}

.imagePrev{
    width: 204px;
    float: left;
}
.characters{
    float: left;
    padding: 0 0 0 10px;
    width: 303px;
}
.category-description{
	color:#999;
	font-size: 12px;
}
.category-description h1{
	font-size: 22px;
	background:none;
	text-align: left;
}
