<script type="text/javascript" src="/vendor/ckeditor/sample.js"></script>
<script type="text/javascript" src="/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/vendor/ckeditor/adapters/jquery.js"></script>

<!-- [wysiwyg] -->
