@charset 'UTF-8';
/**
 * @version $Id: v 0.1 25.11.2010 - 12:22:48 Exp $
 *
 * Project:     kontext
 * File:        styleLib.css *
 *
 * This library is commercial distributed software; you can't
 * redistribute it and/or modify it without owner (or author) approval.
 *
 * @link http://bestartdesign.com
 * @copyright (C) 2009
 *
 * @author Seyar Chapuh <seyarchapuh@gmail.com>
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 /*font: inherit;*/
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
*:focus{outline:none;}
p{ /*text-align:justify;*/ }
a img{ border:none; vertical-align:top;}

.clear{ clear:both; font-size:1px; overflow:hidden; height:0;}
.clearRight{ clear:right; font-size:1px; overflow:hidden; height:0;}
.flLeft{ float:left;}
.flRight{ float:right;}
.tLeft{ text-align:left;}
.tCenter{ text-align:center;}
.tRight{ text-align:right;}
.tJustify{ text-align:justify;}
.tUpper{ text-transform:uppercase; }
.vMiddle{ vertical-align:middle;}
.tBold{ font-weight:bold;}
.tItalic{ font-style:italic;}
.tNormal{ font-style:normal;}
.rel{ position:relative;}
.hidden{ display:none; }
.dispblock{ display:block; }
.absBlocks{ position: absolute;top: 0;left: 0; }
.borderNone, .borderNone tr td{ border: none; }
.tdnone {text-decoration:none}

ul, ol{ margin:0 0 0 20px; }
ul li{ list-style: disc; }