<div style="background: #D8E5DC; height: 62px; width: 800px; padding: 5px;"><img src="http://consol.ua/templates/consol/images/email_logo.jpg" alt=""/></div>
Поздравляем вы успешно подписаны на рассылку новостей с сайта http://%HTTP_HOST%
<br/>
<br/>
<br/>
......................................................<br/>
Для того чтоб отписаться от получения новостей перейдите по ссылке <a href="http://%HTTP_HOST%/emailsender/un/%code%">http://%HTTP_HOST%/emailsender/un/%code%</a>