<table width="100%">
    <tr>
        <td>Email</td>
    </tr>
    <tr>
        <td>
            <input type="text" name="email" value="{$row.email|default:$quicky.post['email']}" style="width: 20em;" />
        </td>
    </tr>
    <tr>
        <td colspan="0">&nbsp;</td>
    </tr>

</table>
<br/>
<br/>