{include file="header.tpl"}

<!-- header -->
            <form action="/registration/add" method="post" id="regForm">
                <div class="regRows cols flLeft">
                    <p class="colTitle">Мой профиль</p>
                        <div>
                            <p>Электронная почта</p>
                            <!--<input type="text" name="email" value="{$obj.email|default:$quicky.post.email}" class="email required" rel="Введите Email"/>-->
                            {$obj.email|default:$quicky.post.email}
                        </div>
                        <div>
                            <p>Полное имя</p>
                            <input type="text" name="name" class="required" value="{$obj.name|default:$quicky.post.name}" rel="Введите полное имя"/>
                        </div>
                        <div>
                            <p>Мобильный телефон</p>
                            <input type="text" name="phone" value="{$obj.phone|default:$quicky.post.phone}" class="required" rel="Введите мобильный телефон"/>
                        </div>
                        <div>
                            <p>Страна</p>
                            <input type="text" name="country" value="{$obj.country|default:$quicky.post.country}" class="required" rel="Введите странy"/>
                        </div>
                        <div>
                            <p>Область</p>
                            <input type="text" name="district" value="{$obj.district|default:$quicky.post.district}" class="required" rel="Введите область"/>
                        </div>
                        <div>
                            <p>Город</p>
                            <input type="text" name="city" value="{$obj.city|default:$quicky.post.city}" class="required" rel="Введите город"/>
                        </div>
                        <div>
                            <p>Адрес</p>
                            <input type="text" name="address" value="{$obj.address|default:$quicky.post.address}"/>
                        </div>
                        <div class="rel">
                            <a href="#" class="addBtn absBlocks tCenter" style="left: 206px;" id="register">Сохранить</a>
                        </div>
                </div>
            </form>
                
                <div class="cols regRows flRight">
                    <p class="colTitle">&nbsp;</p>
                    <div>
                        <p>Пароль</p>
                        <input type="password" name="current_pass" value="" class="email required" rel="Введите Email"/>
                    </div>
                    <div>
                        <p>Новый пароль</p>
                        <input type="password" name="new_pass" class="required" value="" rel="Введите полное имя"/>
                    </div>
                    <div>
                        <p>Повторите новый пароль</p>
                        <input type="password" name="new_pass2" value="" class="required" rel="Введите мобильный телефон"/>
                    </div>
                    <div class="rel">
                        <a href="#" class="addBtn absBlocks tCenter" style="left:206px;" id="register">Сохранить</a>
                        <div class="clear"></div>
                    </div>
                </div>
                
                
                
				<br />

{include file="menu.tpl"}
{include file="footer.tpl"}
