<div class="loginPopup">
    <form action="/registration/send_code" method="post" id="loginForm" onsubmit="if( !checkLogin( $('#loginForm') ) ) return false;">
        <h2 class="tCenter"><p><span><span>Восстановление пароля</span></span></p></h2>
        <br/>
        <table width="100%">
            <tr>
                <td class="tCenter">Логин</td>
            </tr>
            <tr>
                <td><input class="tCenter required email" type="text" name="email" value="{$quicky.post.email}" rel="Введите Email"/></td>
            </tr>
            <tr>
                <td class="">
                    <br />
                    <a href="#" class="addBtn forgotPage" onclick="$('#loginForm').submit();">Отправить</a>
                </td>
            </tr>
        </table>
        <input type="submit" style="position: absolute; left: -10000px;"/>
    </form>
</div>