﻿ul.contextMenu, ul.contextMenu ul
{
	/* Required settings */
	top:-1000px; left:-1000px; position:absolute; z-index:999; 
	/* Possibly inherited values overrides */
	border-width:0;  float:none; background-color:#EEEEEE; background-image:none; height:auto; margin:0; padding:0; width:auto;	
	/* Additional settings */
	border-bottom:solid 1px #235a8b	
}
ul.contextMenu li
{
	/* Required settings */
	width:200px; list-style:none none outside;
	/* Possibly inherited values overrides */
	background-color:#EEEEEE; background-image:none; float:none; height:auto; letter-spacing:normal; margin:0;
	line-height:normal; margin:0; text-align:left; text-decoration:none; text-indent:0; text-transform:none; vertical-align:top;
	word-spacing:normal; font-family:Arial, Sans-Serif; font-size:13px; font-style:normal; font-variant:normal; font-weight:normal;
	/* Additional settings */
	overflow:hidden; cursor:default; padding:5px; 
	color:#666666; border:solid 1px #999999; border-bottom-width:0
}
ul.contextMenu li span.submenu{display:block; width:4px; height:12px; float:right; background:url(images/submenu.gif) no-repeat 0 5px}
ul.contextMenu li.hover{background-color:#CCCCCC}



