@charset 'UTF-8';
/* >>> button like a google */
button.btn {
    display:inline-block;
    background:none;
    margin:0;
    padding:3px 0 2px 0;
    border-width:0;
    overflow:visible;
    font:12px Arial,Sans-serif;
    text-decoration:none;
    color:#666666;
	cursor:pointer;
}
* html button.btn {
    padding-bottom:1px;
}
/* Immediately below is a temporary hack to serve the
following margin values only to Gecko browsers
Gecko browsers add an extra 3px of left/right
padding to button elements which can't be overriden.
Thus, we use -3px of left/right margin to overcome this. */
html:not([lang*=""]) button.btn {
    /*margin:0 -3px;*/
	margin:0;
}
button.btn span {
    background:#ddd url(../images/bg-button.gif) repeat-x 0 0;
    margin:0;
    padding:3px 0;
    border-left:1px solid #bbb;
    border-right:1px solid #aaa;
}

* html button.btn span {
    padding-top:0;
}
button.btn span span {
    position:relative;
    padding:3px 1em;
    border-width:0;
    border-top:1px solid #bbb;
    border-bottom:1px solid #aaa;
}

/* only needed if implementing separate hover/focus/active state for buttons */
button.btn:hover span, button.btn:hover span span, button.btn:focus span, button.btn:focus span span, button.btn:disabled span span, 
div.btn.blue:hover span, div.btn.blue:hover span span, div.btn.blue:focus span, div.btn.blue:focus span span 
{
    cursor:pointer; /* important for any clickable/pressable element */
    color:#fff;
	outline: none;
}
button.btn:active span {
    background-position:0 -400px;
    outline:none;
}
button.btn:focus, button.btn:active {
    outline:none; /* doesn't seem to be respected for <button>, only <a> */
}

/* use if one button should be the 'primary' button */
.primary {
    font-weight:bold;
    color:#000;
}
button.pill-l span {
    border-right-width:0;
}
button.pill-l span span {
    border-right:1px solid #bbb;
}
button.pill-c span {
    border-right-style:none;
    border-left-color:#fff;
}
button.pill-c span span {
    border-right:1px solid #bbb;
}
button.pill-r span {
    border-left-color:#fff;
}
/**/

/*for blue btn*/
button.btn.blue{
    padding: 2px 0 2px 0;
}
button.btn.blue span {
    background:#478ece url(../images/blueBtn.gif) repeat-x 0 0;
    border-color:#3c80af;
    border-color:#3c80af;
    padding: 1px 0;
}
button.btn.blue span span {
    padding: 1px 2em;
    border-top:1px solid #3c80af;
    border-bottom:1px solid #3c80af;
}
button.btn.blue {
    color:#fff;
}
button.btn.blue:hover span, button.btn.blue:hover span span, button.btn.blue:focus span, button.btn.blue:focus span span
 {
    cursor:pointer; /* important for any clickable/pressable element */

    color:#fff;
}

/* Uploadity CSS */

div.btn {
    display:inline-block;
    background:none;
    margin:0;
    padding:3px 0 2px 0;
    border-width:0;
    overflow:visible;
    font:12px Arial,Sans-serif;
    text-decoration:none;
    color:#666666;
    cursor:pointer;
}
* html div.btn {
    padding-bottom:1px;
}

div.btn span {
    background:#ddd url(../images/bg-div.gif) repeat-x 0 0;
    margin:0;
    padding:2px 0 4px;
}

* html div.btn span {
    padding-top:0;
}
div.btn span span {
    position:relative;
    padding:3px 1em;
    border-width:0;
    /*border-top:1px solid #bbb;
    border-bottom:1px solid #aaa;*/
}

div.btn:hover span, div.btn:hover span span, div.btn:focus span, div.btn:focus span span {
    cursor:pointer; 
    
    color:#fff;
}
div.btn:active span {
    background-position:0 -400px;
    outline:none;
}
div.btn:focus, div.btn:active {
    outline:none; 
}

div.btn.blue{
    padding: 1px 0 2px 0;
}
div.btn.blue span {
    background: url(../images/bluebutton.png) no-repeat 0 0;
    vertical-align:top;
	display: block;
    height: 13px;
    /*width: 100px;*/
}
div.btn.blue span span {
    padding: 0px 2em;
	background:none;
    /*border-top:1px solid #3c80af;
    border-bottom:1px solid #3c80af; */
}
div.btn.blue {
    color:#fff;
	text-align:center;
}
div.btn.blue:hover span, div.btn.blue:hover span span, div.btn.blue:focus span, div.btn.blue:focus span span {
    cursor:pointer; /* important for any clickable/pressable element */

    color:#fff;
} 
