/*
    Document   : list_pagination
    Created on : 10.12.2010, 18:06:21
    Author     : Shade
    Description:
*/

.dataTables_paginate {
    clear: both;
    position: relative;
}

.paging_full_numbers {
    text-align: center;
    height: 5em;
    margin: 0 auto;
    padding-top: 2em;
    width: 366px;
    background: url("../images/paginator_line.gif") left 6px repeat-x;
}

.paging_full_numbers a.paginate_button.first, .paging_full_numbers a.paginate_button.last {
    color: #0085D0;
    display: inline;
    padding: 0;
    position: absolute;
    text-decoration: underline;
    top: 65px;
    width: auto;
    font-size: 75%;
}

.paging_full_numbers a.paginate_button.first{
    left: 0;
}
.paging_full_numbers a.paginate_button.last{
    right: 0;
}

.paging_full_numbers a.paginate_button.previous, .paging_full_numbers a.paginate_button.next {
    background: url("../images/paginator_prev.jpg") no-repeat scroll left center transparent;
    height: 10px;
    position: absolute;
    width: 5px;
    text-decoration: none;
    font-size: 1px;
    top: 28px;
}

.paging_full_numbers a.paginate_button.previous{
    left: -13px;
}

.paging_full_numbers a.paginate_button.next{
    background-image: url("../images/paginator_next.jpg");
    right: -13px;
    position: absolute;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    cursor: pointer;
    display: block;
    float: left;
    margin: 2px 8px;
    padding-top: 4px;
    width: 20px;
    height: 28px;
}

.paging_full_numbers a.paginate_button {
    text-decoration: underline;
}

.paging_full_numbers a.paginate_button:hover {
    /*    font-weight: bold;*/
}

.paging_full_numbers a.paginate_active {
    background: url("../images/paginator_active.gif") top center no-repeat #7D7D7D;
    color: white;
    text-decoration: none;
}

th.sorting, th.sorting_asc, th.sorting_desc {
    cursor: pointer;
}

th.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

th.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

th.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}