.grey_color{background-color: #F6F7F9;}
.white_color{background-color: #fff;}
.pull_over{background-image:url(/static/admin/images/pull_over.png);background-repeat: no-repeat;display: block; height: 15px;width: 15px;background-position:center center;}
.bg_delete_links{background-image:url(/static/admin/images/bg_link_basket.png);background-repeat: no-repeat;display: block; height: 16px;width: 13px;}
.link_delete{background-image:url(/static/admin/images/bg_link_basket.png);display: block }
.add_group_right_bg{float: right;background-image: url(/static/admin/images/right_add_group.gif);background-repeat: no-repeat;display: block;height: 22px;width: 3px;padding-top:3px;}
.add_group_center_bg{float: right;background-image: url(/static/admin/images/center_add_group.gif);background-repeat: repeat-x;display: block;height: 22px;padding-top:3px;}
.add_group_left_bg{float: right;background-image: url(/static/admin/images/left_add_group.gif);background-repeat: no-repeat;display: block;height: 22px;width: 3px;padding-top:3px;}
#test-list { list-style: none; padding: 0; margin: 0px; width: 100%;}
#test-list li { margin: 0px;  padding: 1%;height: auto; list-style: none;}
#test-list .handle { float: left; margin-right: 1%; cursor: move; }
.column_options{margin-left: 1%;overflow: hidden; width: 17%;min-height: 15px;}
.column_options_free{width: 7%;min-height: 15px;padding-left: 1%;}
.column_options_first{width: 2%;}
.column_options_delete{background-image:url(/static/admin/images/bg_link_basket.png);background-repeat: no-repeat;display: block; height: 16px;width: 13px;}
.column_options_checkbox{width: auto;margin: 0 0 0 4%;}
.column_options_checkbox2{width: auto;margin: 0 0 0 7%;}
.column_options_checkbox input{padding: 0px;margin: 0px;}
.rol_del{ margin:0 8px;}
#test-list .input_edit{width: auto;padding: 1px;}
#test-list .textarea_edit{width: 9em;height:4em;}
button.btn.blue.but_cancel span span, button.but_save.btn.blue span span{ padding: 1px 1em;}
.but_links{width:17%}
.options_bg{background-color: #E0F2FC;padding: 1%;}
#test-list .group_item{padding: 0px;}
#test-list .border_round{border: 1px solid #D0DEDE;padding: 0px;-moz-border-radius:10px;border-radius:10px;}
#test-list .bg1{background-color: #E0F2FC;height: 15px;}
#test-list .bg2{padding: 1%;}
#test-list .delete_group{ float: right}
#test-list .add_item_group{ float: left}
.group_settings{ width: 113px;padding-right:10px;}
.group_margin{margin-top:8px;margin-left: 11px;}
.items_no_group{padding: 1%;background-color: #E0F2FC;}
#test-list .selected_style{margin-right: 3px;width: 98%;}
#test-list .input_textarea{width: 14%;}
#test-list .border_style_item{border: 1px solid #D0DEDE;padding: 0px;-moz-border-radius:10px;border-radius:10px;}
#test-list ul {margin: 0px;}
#test-list .descr_style{padding-left: 8%;}
#main_table .separator_table{border-right: 1px solid #929FA7;}
#main_table .col_first{width: 19%;}
#main_table .col_too{width: 17%;}
#main_table .col_free{width: 9%;}
#main_table .col_foo{width: 16%;}
.border_radius_first{-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
.border_radius_last{-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;}
.border_radius_one{-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;}
.footer_style{padding: 2%;}
.footer_style a{display: block;float: left;background-image: url(/static/admin/images/plus_group.png);background-repeat: no-repeat;background-position:left center;padding-left:15px;}
#add_field{ margin-right:10px;}