@charset 'UTF-8';
/* COPYRIGHT: Seyar Chapuh; Created on : 28.08.2009, */
.container{  _height: 100%; }
.container, .header, .footer{ width:expression(document.body.clientWidth < 967 ? "965px" : "100%"); }
.rightCol{ border-top:none; _margin: 0 0 0 124px;}
/* #container { width:expression(document.body.clientWidth < 967 ? "965px" : "auto"); } */
/* .bnrs.bnr1{ background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/topContentBnr2.png', sizingMethod='scale'); }*/
.mainContent .rel table tr td {
    vertical-align:middle;
}

