@charset 'UTF-8';
/* @version $Id: v 0.1 10.11.2010 - 11:33:09 Exp $
 *
 * Project:     Chimera2.local
 * File:        style.css *
 *
 * This library is commercial distributed software; you can't
 * redistribute it and/or modify it without owner (or author) approval.
 *
 * @link http://bestartdesign.com
 * @copyright (C) 2009
 *
 * @author Seyar Chapuh <seyarchapuh@gmail.com>
 */

html,body{ height: 100%; background:#fff;font: 12px Arial; }
p{ line-height: 18px; }
a{ text-decoration:underline; color:#0086cf;}
a:hover{ text-decoration:none;  }

h1{ font-style: italic; font-size: 16px; }
h2{ }
h3{ }
h4{ }

input, textarea{ border:1px solid; border-color:#434343 #9b9b9b #9b9b9b #434343; padding: 2px 4px 1px 4px; color:#7f7f7f; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
textarea{ width: auto; }
.input input{ background: none; border: none; }
input[type=text]{ width: 212px;}
.input input[type=text]{width: 90%;}
input[type=checkbox]{vertical-align:middle}
.winput input[type=text]{width: 99%;}
.input{ background: #fff;border:1px solid;/*padding: 1px 0 0 0;*/ border-color:#434343 #9b9b9b #9b9b9b #434343; font-style: italic; color:#7f7f7f; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; }

table{  }
table tr th{ }
table tr td{ }
.borderNone, borderNone tr td{ border:none;}
.absBlocks{ position: absolute; left: 0; top: 0; }

/* style */
.precontent{ height: 157px; }
.footer, .prefooter{ height: 32px; padding: 50px 0 0 0; }
.footer{ margin: -82px 0 0 0; color: #8a8a8a; font-size: 12px; text-align: center;}
.container{ min-height: 100%; background:#f4f4f4 url(../images/body.jpg) left bottom repeat-x;}
.wrap{ min-width: 980px; width: 76%;margin: 0 auto; z-index: 2; }
.topMenu{ height: 121px; width: 100%; }
.topMenuInner{ height: 121px; background: url(../images/top_menu_c.png); margin: 0 7px; }
.topMenu_side{ width: 7px; height: 121px; background: url(../images/top_menu_l.png); z-index: 3;}
.topMenu_side.R{ background: url(../images/top_menu_r.png); left: auto;right: 0; }
.logo{ left: 14px; top: 6px; }

.topAccInfo{ color: #edf0e5; font-size: 11px; left: auto; right: 15px; width: 450px;height: 20px;top:29px;}
.topAccInfo a{ color: #7ccdfa; }
.topAccInfo .accLinks, .topAccInfo .langs{ font-size: 10px;list-style: none;display: inline; margin: 0;}
.topAccInfo .accLinks li, .topAccInfo .langs li{ display: inline; }
.topAccInfo .accLinks{ border:dotted #fffffd;border-width: 0 1px 0 1px; margin: 0 8px; padding: 0 4px;}
.topAccInfo .accLinks li{padding: 0 3px;}
.topAccInfo .langs li.divider{padding: 0 7px;}

.mainMenu.rightIco{ left: auto;right: 6px;width: auto; }
.mainMenu{ top:48px;height: 72px; margin: 0; width: 100%;}
/*.mainMenu li{ display: block; float: left; width: 82px; text-align: center;height: 63px; padding: 9px 0 0 0;}*/
.mainMenu li {
    display:block;
    float:left;
    height:63px;
    padding:9px 0 0;
    position:relative;
    text-align:center;
    width:82px;
}
.mainMenu li.ico_settings a {
    background-image:url("../images/icons/settings.png");
}

.mainMenu li.active > a {
    font-weight:bold;
}

.mainMenu li > a {
    background-position:center top;
    background-repeat:no-repeat;
    color:#FFFEFF;
    display:block;
    float:left;
    font-size:11px;
    height:16px;
    padding:39px 0 0;
    text-decoration:none;
    width:100%;
}
.mainMenu li.ico_settings .submenuAct {
    left:30px;
}

.mainMenu li .submenuAct {
    background:url("../images/submenu_act.png") repeat scroll 0 0 transparent;
    display:none;
    height:18px;
    left:32px;
    position:absolute;
    top:63px;
    width:18px;
    z-index:4;
}

.mainMenu li .submenu {
    background:url("../images/submenu_c.png") repeat scroll 0 0 #D9DCD3;
    color:#656563;
    display:none;
    height:25px;
    left:12px;
    padding:11px 0 0;
    position:absolute;
    top:71px;
    white-space:nowrap;
    width:auto;
    z-index:3;
}

.mainMenu li .submenu .submenuItem {
    display:block;
	float:left;
	position:relative;
    height:25px;
}
.mainMenu li .submenu > span.divider {
    background:none repeat scroll 0 0 transparent;
    display:block;
	float:left;    
    padding:0 3px;
}

.mainMenu li.divider{ background: url(../images/top-menu-divider.png); width: 2px; height: 72px; padding: 0;}
/*.mainMenu li > a{ color:#fffeff;font-size: 11px;text-decoration: none; display: block;float: left;height: 16px;width: 100%;padding: 39px 0 0 0; background-repeat: no-repeat;background-position: center top;}*/
.mainMenu li a:hover{ text-decoration: underline; }
.mainMenu li.active > a{ font-weight: bold; }
.mainMenu li.ico_content a{ background-image: url(../images/icons/content.png); }
.mainMenu li.ico_comments a{ background-image: url(../images/icons/comments.png); }
.mainMenu li.ico_faq a{ background-image: url(../images/icons/faq.png); }
.mainMenu li.ico_photogallery a{ background-image: url(../images/icons/photogallery.png); }
.mainMenu li.ico_publications a{ background-image: url(../images/icons/publications.png); }
.mainMenu li.ico_registration a{ background-image: url(../images/icons/registration.png); }
.mainMenu li.ico_sitemap a{ background-image: url(../images/icons/sitemap.png); }
.mainMenu li.ico_widget_votes a, .mainMenu li.ico_votes a{ background-image: url(../images/icons/votes.png); }
.mainMenu li.ico_settings a{ background-image: url(../images/icons/settings.png); }
.mainMenu li.ico_recycler a{ background-image: url(../images/icons/recycler.png); }
.mainMenu li.ico_shop a{ background-image: url(../images/icons/shop.png); }
.mainMenu li.ico_feedback a{ background-image: url(../images/icons/feedback.png); }
.mainMenu li.ico_seo a{ background-image: url(../images/icons/seo.png); }
.mainMenu li.ico_listat a{ background-image: url(../images/icons/listat.png); }

/*.mainMenu li .submenuAct{ background: url(../images/submenu_act.png);display: block;position: absolute;left: 32px;top: 63px; width: 18px; height: 18px; z-index: 4; display: none;}*/
.mainMenu li.ico_shop .submenuAct{left: 115px;}
.mainMenu li.ico_publications .submenuAct{ left: 199px;}
.mainMenu li.ico_votes .submenuAct{ left: 285px;}
.mainMenu li.ico_faq .submenuAct{ left: 367px;}
.mainMenu li.ico_feedback .submenuAct{ left: 453px;}
.mainMenu li.ico_seo .submenuAct{ left: 537px;}
/*.mainMenu li.ico_settings .submenuAct{ left: 620px;}*/

/*.mainMenu li .submenu{ background:#d9dcd3 url(../images/submenu_c.png);display: block;position: absolute;left: 14px;top: 71px; padding: 11px 0 0 0;height: 25px; color: #656563;z-index: 3; display: none;}*/
/*.mainMenu li .submenu .submenuItem{ display: block; float: left; height: 25px; }*/
.mainMenu li .submenu a{background: none; display: inline; float: none;color:#656563; height: auto;padding: 0;}
.mainMenu li .submenu a.active{font-weight: bold;}
/*.mainMenu li .submenu > span.divider{ background: none; float: left; padding: 0 3px;}*/
.mainMenu li .submenu .submenu_side{ background: url(../images/submenu_l.png); display: block; width: 6px; height: 36px; left: -6px; }
.mainMenu li .submenu .submenu_side.R{ background: url(../images/submenu_r.png);left: auto;right:-6px; }

.mainMenu li .submenu .subsubmenu{ background:#f0f1e1 url(../images/subsubmenu_c.png) left -1px; position: absolute; top: 25px; height: 24px; right: 0; padding:11px 0 0 0; z-index: 2; white-space: nowrap; display: none;}
.mainMenu li .submenu .subsubmenu a{ color: #666;}
.mainMenu li .submenu .subsubmenu a.active{ color: #fa6b02; font-weight: bold;}
.mainMenu li .subsubmenu .subsubmenu_side{ background: url(../images/subsubmenu_l.png) left -1px no-repeat; display: block; width: 5px; height: 36px; left: -5px; }
.mainMenu li .subsubmenu .subsubmenu_side.R{ background: url(../images/subsubmenu_r.png) left -1px no-repeat;left: auto;right:-5px; }

.helpLinks{ left: auto; right: 0; top: 130px;}
.helpLinks a{ text-decoration: none; margin: 0 5px; font-size: 12px;}
.helpLinks a:hover{ border: none; }
.showHelp{ border-bottom: 1px dashed #0185cf; }
.addToShortcats{ border-bottom: 1px solid #0185cf; }
.showHelpBox{ margin:0 0 10px 0;background: #fff;padding:10px 20px; border: 1px solid #91A0A7;-moz-border-radius:5px;-webkit-border-radius:2px;border-radius:2px; }
.showHelpBox.errorHelpBox{ background-color: #FFC7C7; }
.close{ left:auto;right:20px;top:10px; }
.blockhelp {font:italic 18px Arial;}

.breadcrumbs{ background: #91a0a7; margin: 0 4px; height: 26px; padding: 6px 14px 0 14px; }
.breadcr{ background: url(../images/breadcrumb_l.png); width: 6px; height: 32px; left: -6px; }
.breadcr.R{ background: url(../images/breadcrumb_r.png); left: auto; right: -6px; }
.breadcrumbs h1{ display: inline; }
.breadcrumbs ul{ border-left: 1px dotted #556066; color:#637078;font-style: italic; font-size: 9px;  display: inline; padding: 0 0 0 9px; }
.breadcrumbs ul li{ display: inline; }
.breadcrumbs ul li.last{ color:#40484b; font-size: 11px;font-weight: bold; }
.breadcrumbs ul li a{ color: #41494c;font-style: italic; font-size: 11px; }

.whiteblueBg{ background: #f3f6fb; }
.whiteBg{ background: #fff; }
.grayText{ color:#b5b9bb; }
.grayText2{ color:#818181; }
.dottedLeftBorder{ border-left: 1px dotted #878787;padding: 0 0 0 15px; }
.dottedRightBorder{ border-right: 1px dotted #878787;padding: 0 15px 0 0; }
.dottedBottomBorder, .dottedBottomBorder tr td{ border-bottom: 1px dotted #e6e6e6;}
.dottedBottomBorder2{ border-bottom: 1px dotted #e6e6e6; margin:10px 0}
.whiteblueBg .dottedBottomBorder,.whiteblueBg .dottedBottomBorder tr td{border-color:#929fa8;}
.padding20px{ padding: 0 20px; }
.padding10px{ padding: 0 10px; }
.italic{ font-style: italic; }


/* floating block */
.floatingOuter{ height: 53px; }
.floatingInner{ height: 45px; width: 100%; top: 1px; left: 1px; font-style: italic;padding: 7px 0 0 0;}
.floatingInner.fixed{ margin:0 auto 0 -38%;width:76%;position: fixed; left: 50%; top: 0;z-index: 10000;border:1px solid #919FA7;}
.mainContent .rel  .floatingInner table,.mainContent .rel  .floatingInner table tr td{ border:none; padding-top: 0;padding-bottom: 0;}
.floatingInner table tr td.vMiddle{ vertical-align: middle; }
.mainContent .rel table tr td.vMiddle{ vertical-align: middle; }
.mainContent .rel table tr th.tCenter{ text-align: center; }
.mainContent{ margin: 0 2px; }
.side{ background: url(../images/content_l_side.png);width: 2px; height: 100%;left:-2px; }
.side.R{ background: url(../images/content_r_side.png); left: auto;right: -2px;}
.innerPage.floatingOuter{ height: 40px;border:solid #888c8f;border-width: 1px 0; }
.innerPage.floatingOuter .floatingInner{ height: 31px;background: #a7b0b5;border:1px solid #c4c9cc;left:0;top:0; }
.innerPage.floatingOuter .floatingInner.fixed{ margin:0 auto 0 -38%;width:76%;position: fixed; left: 50%; top: 0;z-index: 10000;border-bottom:1px solid #888c8f;}
.floatingOuter .floatingPlaCorner{ background: url(../images/floatingpla_corner_l.jpg); width: 5px;height: 5px; top: auto;bottom:-2px;left:-1px; }
.floatingOuter .floatingPlaCorner.R{ background: url(../images/floatingpla_corner_r.jpg);left: auto;right: -1px; bottom:-2px;}
.floatingOuter .floatingInner.fixed .floatingPlaCorner{ bottom:-1px; }
/**/

.mainContent .rel table{ border-bottom: 1px solid #d0dede; }
.mainContent .rel table tr th{ background: #dde2e4;border:solid #919fa7; border-width: 1px 0; font-size: 12px;padding: 8px 8px 8px 10px;text-align: left;}
.mainContent .rel table tr th.sorting{ background: #dde2e4 url(../images/sort.gif) left center no-repeat; }
.mainContent .rel table tr th.sorting_asc{ background: #dde2e4 url(../images/sort_asc.gif) left center no-repeat; }
.mainContent .rel table tr th.sorting_desc{ background: #dde2e4 url(../images/sort_desc.gif) left center no-repeat; }
.mainContent .rel table tr td{ vertical-align: top;  padding: 5px 8px 5px 0; }
.mainContent .rel table.borderNone{ border: none; }
.mainContent .rel table tr.even td{ background: #f5f8f8; }
.mainContent .rel table tr.odd td{ background: #fff; }
.mainContent .rel table tr td p{ border-left: 1px solid #d7dde0;padding: 0 0 0 10px; }

.bottomshadow_narrow, .bottomshadow{ background:url(../images/bottomshadow.png) repeat-x left bottom; height: 8px; margin: 0 3px;}
.mainContent .corner{ background: url(../images/corner_l.png);bottom:-7px;height:7px;left:-2px;top:auto;width:5px;}
.mainContent .corner.R{ background: url(../images/corner_r.png);width: 6px; height: 8px;right: -2px; left: auto; bottom: -8px;}

/* login */
.loginWrap{ width: 645px; margin: 0 0 0 -322px; position: absolute;top:0;left:50%; padding: 50px 0 0 0; }
.loginHead{  height: 25px; padding:10px 0 0 0; color:#fff; font:14px Arial;}
.loginBody{ padding: 40px 2px 20px 3px; color:#666; font: 14px Arial; border: 1px solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; }
.blueText{ color:#66ccff; font-size: 14px;}
.loginBody table tr td{ padding: 4px ;  }
.loginBody table .inputs div{   }
.loginBody table .inputs div input{ text-align: center;padding: 3px 0px; font: 18px Arial; width: 265px; margin-right: 0;
border:1px solid #bebebe;-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;padding: 4px 8px; 
    background-image: -moz-linear-gradient(top, #ededed, #ffffff);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#ffffff));
    background-image: -o-linear-gradient(top, #ededed, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: linear-gradient(top, #ededed, #ffffff);
}
.loginBody table .btns a{ /*background: url(../images/loginBtn.gif);*/ padding: 6px 0 0 0; height: 24px; width: 120px;display: block;text-align: center;float: left; color:#fff;font:14px Arial;text-decoration: none;}
.enter{ color: #fff;padding:6px 2px; -moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
/*IE DOES NOT SUPPORT BORDER RADIUS*/
background-image: -moz-linear-gradient(top, #adadad, #000000);
background-image: -webkit-gradient(linear, center top, center bottom, from(#adadad), to(#000000));
background-image: -o-linear-gradient(top, #adadad, #000000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#000000');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#000000')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: linear-gradient(top, #adadad, #000000);
-moz-background-clip: padding-box;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
}
/**/

/* pages */
#main{ border-bottom:none; }
.pages{ list-style: none;margin: 0; border-bottom:1px solid #D0DEDE; width: 100%;}
.pages ul { list-style: none;margin: 0; }
.pages li{ position: relative; border-bottom: 1px dotted #E6E6E6;display: block;}
.pages li .page{ min-height:16px;}
.pages li .page input{ border:none;}
.pages li.level-0 .page, .pages li.level-1 .page{ padding: 9px 0 8px 5%; }
.pages li.level-2 .page{ padding: 9px 0 8px 70px; }
.pages li.level-2 .checkbox{ left: -4px; }
.pages li.last{ border-bottom: none; }
.pages li.even{ background: #F5F8F8; }
.pages li.odd{  }
.pages li a{ color: #000; text-decoration: none; font-size: 12px; }
.pages li a:hover{ text-decoration: underline; }
.pages li .absBlocks{ top:10px; }
.pages li .checkBox{ left:16px; }
.pages li .pageUrl{ left:615px; }
.pages li .pageTitle{ width:550px;display:block; }
.pages li .pageicons, span.pageicons { display:block; left:auto; right:25px; border: #e5e6e8 1px solid;width: 75px; padding: 4px 0 0 4px;top: 5px; -moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;  }
.pages li .pageicons a{ margin:0 9px; }
.pages li .handle_reorder, .pages li .handle_copy, .pages li .busy{ display:none; }
.pages li .expander{ left:3%; cursor: pointer; top: 9px; }

/* tabs */
.tabs{ list-style: none; margin:0; padding: 8px 0 10px 0;}
.tabs li{ display: block;float:left; height: 22px;padding: 4px 4px 0 4px; }
.tabs li a{ border-bottom:1px dashed #636466;color:#636466;text-decoration: none;font-style: italic; font-size:14px}
.tabs li a:hover{ text-decoration: none;border:none; }
.tabs li.divider{ border-left: 1px dotted #919ea6;padding: 0; margin: 0 0 0 2px; width: 2px;}
.tabs li.active{ height: 26px;padding:0; }
.tabs li.active a{ color:#1c201f; font-weight: bold;}
.tabs li.active a .linkSide{ background:#929fa7 url(../images/tab_link_left.jpg); width: 5px; height: 26px; float:left;}
.tabs li.active a .linkSide.C{ background: #929fa7; width: auto; padding: 5px 0 0 0;height: 21px;}
.tabs li.active a .linkSide.R{ background: url(../images/tab_link_right.jpg); }
/*  */

.tabContent{ display: none; }
.tabContent.openedTab{ display: block; }

.ulToCols{ list-style: none;margin: 0; width:100%; }
.ulToCols li{ width: 33%; float: left;padding: 0  0 5px 0;}

/* modules publications */
.outerRightCol{ margin:0 0 0 249px; }
.outerLeftCol{ width: 251px; margin: 0 0 0 -2px; }
.outerLeftCol .leftSubmenu{ padding: 14px 0 0 0; height: 28px; border:solid #91a0a7; border-width: 0 1px 1px 0;background: #dce1e4; margin: 0; text-align: center;}
.outerLeftCol .leftSubmenu li{ display:inline; border-right: 1px dotted #84888b;padding: 0 12px; }
.leftColBottom{ background: url(../images/left-col-b.png) no-repeat;height:20px; }
.pubTypes{ min-height: 325px; /*height: 325px;*/ overflow: auto; width: 248px; border-left:1px solid #91a0a7; }

.pubTypesMenu, .pubTypesMenu ul{ margin: 0; list-style: none; }
.pubTypesMenu li{ white-space: nowrap;}
.pubTypesMenu a{ color: #757575; text-decoration: none; }
.pubTypesMenu li > a span{ border-bottom: 1px dashed #757575; }
.pubTypesMenu li.opened > a span{ font-weight: bold; }
.pubTypesMenu li > a:hover span, .pubTypesMenu li.opened > a span{ border: none; }
.pubTypesMenu > li{ padding:4px 0; }
.pubTypesMenu .listCollapse, .subPubTypesMenu .listCollapse{ padding: 0 6px; background: 5px 2px no-repeat; }
.pubTypesMenu .rootCollapse{ padding: 0 7px; background:url(../images/minus.jpg) 4px 2px no-repeat; }
.pubTypesMenu li .listCollapse{ background-image: url(../images/plus.jpg); }
.pubTypesMenu li.opened > .listCollapse{ background-image: url(../images/minus.jpg); }
.pubTypesMenu li .subPubTypesMenu{ padding: 3px 0 0 0;display: none; }
.pubTypesMenu li.opened > ul{ display: block; }
.pubTypesMenu li .subPubTypesMenu li{ position: relative;min-height:30px;}
.pubTypesMenu li .subPubTypesMenu li a{ display:block;padding: 5px 0 5px 58px;}
.pubTypesMenu li .subPubTypesMenu .listCollapse{background-position: 13px 0; display: block; height: 13px; left: 0; padding: 0 3px 0 13px; position: absolute; top: 5px; width: 9px; }
.pubTypesMenu li .subPubTypesMenu li a span{ border: none;text-decoration: underline; }
.pubTypesMenu li .subPubTypesMenu li a:hover span{ border: none;text-decoration: none; }
.pubTypesMenu li .subPubTypesMenu li a:hover, .pubTypesMenu li .subPubTypesMenu li a.active, .pubTypesMenu li .subPubTypesMenu li.opened a{ /*background: #e4e8eb; */}

.filter{ padding: 6px 12px;border:1px solid #91A0A7; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; margin-left: 6px;}

/* in paginator css these rules will be overwrited */
#paginator table{ border-bottom: none; }
#paginator table tr td{ padding:0;vertical-align:baseline; }

.mainContent .rel table.baseline tr td.tRight {vertical-align:middle}
.font14px {font:italic 14px Arial}
.font14px li a span{font:italic 14px Arial}
.setli li {padding:4px 10px 0}
.setlinks {padding:3px 0 8px 22px}
.inputbl input{color:black; font:italic 12px Arial}
.greyinp {color: #7F7F7F; font: italic 12px Arial;}

.greyinp table tr td input{color: #7F7F7F; font: italic 12px Arial;}
.blackinp {color: black; font: italic 12px Arial;}

.plushref {font-style:normal; background: url(/static/admin/images/plus.gif) 0 center no-repeat; padding-left:12px}
.mainContent .rel table tr td.padL8 {padding-left:8px;}

.sortableContentTab input[type='checkbox']{ border: 0px none;}

.message{ clear: both; text-align: center; width: auto;}
.message.err {     background: none repeat scroll 0 0 white;
    border-bottom: 1px dotted #929FA8;
    color: #FE600A;
    font-size: 14px;
    padding: 6px 0;
	line-height:20px;}

.mainContent .rel table.albumTab {margin-left:20px; border-bottom:none}
.showDescrFull {border-bottom:1px dashed; text-decoration:none; font-size:11px; padding-right:10px; background: url(/static/admin/images/arrowdown.png) right center no-repeat; }

.showDescrShort {border-bottom:1px dashed; text-decoration:none; font-size:11px; padding-right:10px; background: url(/static/admin/images/arrowup.png) right center no-repeat; }

.dashedbackgr {background: url(/static/admin/images/dashedbackgr.png) 0 0 repeat-y; padding-left:10px; font-style: italic; font-weight: bold; font-size: 13px;}

.module_descr_full {line-height:18px}
.borderNone.italic.grayText2 .page_edit_input {width:96%}
.checklabel label{display:block; margin-bottom:5px;}
.checklabel label input{margin-right:5px; border:0;}
.blocktitles {padding-bottom:5px}
.padL10 {padding-left:10px}

.addBox {display:none;}
.addBox table{margin:10px 15px 10px 15px ;}
.mainContent .rel .addBox table td{vertical-align:middle; color:#666666; }

.mainContent .rel table.contentTabslim tr td {padding-top:5px; padding-bottom:5px}
.sortableContentTab td.tCenter.vToppad, .sortableContentTab td.tLeft.vToppad{ vertical-align:top; padding-top:10px}
.tabContent.common.padding20px.openedTab {padding-bottom:15px}

.commonset {margin-top:20px}
.commonset td.checklabel label{display:block; margin-bottom:0px}

#DomainsTab th{padding-left:0px;}
#DomainsTab div.greytext{font-style:italic; color:#818181}
.greytext{font-style:italic; color:#818181}

#LanguagesTab th{padding-left:0px;}

.mainContent .rel table  .id{
    text-align: center;
}
.mainContent .rel table  .id.tLeft{
    text-align: left;
}
.mainContent .rel table  .id_clien{
    text-align: center;
}
.mainContent .rel table  .id_chet{
    text-align: left;
}
.mainContent .rel table  .id_date{
width: 94px;
}
.mainContent .rel table .id_bank{
/*    display:block;*/
    text-align:left;
    width:94px;
}
.mainContent .shop {
    text-align: right;
     color:#54595F;
}
.mainContent .shop span{
/*    color: #B6BABB;*/
}
.id_cost{
    width: 3%;
}
.mainContent .rel table .shop tr  td
{
    padding-right: 10px;
}
.button_clients a{
    background-image: url(/static/admin/images/clients.png);
    width: 120px;
    height: 20px;
    display: block;
}
.shop_current td{
    height: 55px;
}
.shop_products td{
    height: 55px;
}
.shop_head_current th{
/*    height: 43px;*/
    border-right: 1px solid #929FA7;
    
}
.id_shop_mail a{
    border-bottom:1px dashed #0086CF;
    text-decoration: none;
}

.status .customSelectWrap{
    -moz-border-radius:2px 2px 2px 2px;
/*    border-color:#434343 #9B9B9B #9B9B9B #434343;*/
/*    background-color:black;*/
/*    border-style:solid;*/
    border-width:0px;
    color:#98A925;
/*    font-style:italic;*/
    position:relative;
    z-index:101;
}
.optionswrapper {border:1px solid #666; background-color: white;}
.mainContent .status span{
    color:#98A925;
}
.mainContent .even .status .customSelectWrap .iconselect{
    background-color: #F6F7F9;
}
.status .customSelectWrap .iconselect {
    background:url(/static/admin/images/drop.png) no-repeat scroll right 7px #FFFFFF;
    height:15px;
    padding:2px 12px 2px 4px;
}

#button-in-out{
    display: block;
    position: absolute;
    background: url(/static/admin/images/strelka-in.png) no-repeat;
    width: 13px;
    height: 44px;
    z-index: 111;
    left: -14px;
/*    top: 188px;*/
}
display-panel{
    display: block;
}
#button-out{
    display: block;
    position: absolute;
    background: url(/static/admin/images/strelka.png) no-repeat;
    width: 13px;
    height: 44px;
/*    z-index: 211;*/
    left: -12px;
/*    top: 188px;*/
}
.shop_seo{
    padding: 0 21px 0 21px;
}
.seo_padding_top{
    padding-top: 5px;
}
.shop_seo input{
    color: #000;
}
.shop_seo textarea{
    color: #000;
    font-style: italic;
}
.style_foto{
    padding-right: 20px;
}
.style_foto a{
    font-style: normal;
    display: block;
    padding-bottom: 8px;
}
#shop_price span{
    color: #000;
    /*    font-style: normal;*/
    font-weight: bold;
    /*    margin-bottom: 10px;*/
}
.separator_main_cat_options{
    border-bottom: 1px dotted #919FA8;
    display: block;
    margin:0 20px;
}

.layoutheader {background: none repeat scroll 0 0 #A7B0B5; left:0; top:0;}
.rel .whiteBg .sortableContentTab.tabpad0 th{padding-left:0px}
.rel .whiteBg .tabpad0 th{padding-left:0px}
.separator_cat_bg{
    background-image: url(/static/admin/images/separator_bg.gif);
    background-repeat: no-repeat;
    background-position: left;
    display:block;
    margin-left:20px;
    margin-top:11px;
    padding-left:15px;
    margin-bottom:11px;
}
.shop_products tr td {vertical-align: middle;}
.errors{ list-style: none; margin: 0; color: #FE600A;}
.padchek input{margin-right:5px;}
.mainContent .rel .shop_current.vMiddle td {vertical-align:middle}
.textareaheight textarea{height:60px}
.greyitalic {font-style:italic; color:#818181}

.rel .whiteBg .tablepaddingleft20 th{padding-left:20px;}

#orderDetails th {padding-left:0px}
.captchaForm p {text-align:left;}
.captchaForm input {width:43%}
.mainContent .rel table.sitemaptab th {padding:8px 8px 8px 0px;}


#id_panel {
/*	left panel at Shop Goods page (shop_products.php)*/
	margin-bottom: -91px;
}

.goodlistimg {width:50px; height:50px; float:left; padding-right: 10px;}
.goodlistimg img{width:100%; height:100%}