@charset 'UTF-8';

*{ padding:0; margin:0}
*:focus{outline:none;}
p{ text-align:justify;}
a img{ border:none;}


.clear{ clear:both; font-size:1px; overflow:hidden; height:0;}
.clearRight{ clear:right; font-size:1px; overflow:hidden; height:0;}
.flLeft{ float:left;}
.flRight{ float:right;}
.tLeft{ text-align:left;}
.tCenter{ text-align:center;}
.tRight{ text-align:right;}
.tUpper{ text-transform:uppercase; }
.vMiddle{ vertical-align:middle;}
.tBold{ font-weight:bold;}
.rel{ position:relative;}
.hidden{ display: none;}

ul, ol{ margin:0 0 0 20px; }