@charset 'UTF-8';
/* COPYRIGHT: Seyar Chapuh; Created on : 28.08.2009, */
.container{  _height: 100%; }
.container, .header, .footer{ width:expression(document.body.clientWidth < 967 ? "965px" : "100%"); }
.rightCol{ border-top:none; _margin: 0 0 0 124px;}
/* #container { width:expression(document.body.clientWidth < 967 ? "965px" : "auto"); } */
/* .bnrs.bnr1{ background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/topContentBnr2.png', sizingMethod='scale'); }*/


.padtop3px {padding-top:3px}
.pages li .expander{ top: 11px; left:33px; }

/*.pubTypesMenu .listCollapse {padding: 0 13px 0 10px}
.subPubTypesMenu .listCollapse {padding: 0 13px 0 10px} */

.listCheckboxAll {border:none}
input[type=checkbox]{border:0}
label input {border:0;}

.pre-wrapie {white-space: pre-wrap;}

/*.mainMenu li .submenu .subsubmenu{top: 26px; border:1px solid}*/

